.langPicker {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;

	padding: 1rem;
	margin: 1rem;

	background-color: red;

	.langOption {
		display: flex;
		align-items: center;
	}
}
