.slidingMenuItem {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;

	.icon {
		width: 4rem;
		height: 4rem;
		font-size: 2rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slidingPanel {
		position: absolute;
		right: 0;
		height: 100%;

		white-space: nowrap;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
