@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import "../../styles/common/shared.scss";
@import "../../styles/common/utils.scss";

.mainTitle {
	position: relative;

	height: 66vh;
	font-size: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 0;

	background: linear-gradient(180deg, rgba(22, 21, 26, 1) 0%, rgba(73, 67, 67, 1) 33%, rgba(241, 157, 69, 1) 100%);

	.firstLine {
		font-size: 3rem;
		font-family: "Redressed", cursive;
	}

	.thirdLine {
		font-family: "VT323";
	}
}