@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import "../../styles/pallette.scss";

.home {
	.mainTitle {
		position: relative;

		height: 66vh;
		font-size: 2rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 0;

		background: linear-gradient(180deg, rgba(22, 21, 26, 1) 0%, rgba(73, 67, 67, 1) 33%, rgba(241, 157, 69, 1) 100%);

		.firstLine {
			color: $accent;
			font-size: 3rem;
			font-family: "Redressed", cursive;
		}

		.thirdLine {
			font-family: "VT323";
		}
	}

	.aboutThisPage {
		.content {
			display: flex;
		}

		.title {
			font-size: 1.5rem;
		}

		.introduction {
			display: flex;
			align-items: center;
			justify-content: center;

			&>div {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}