@import "@/styles/breakpoints.scss";

.layout {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	.navbar {
		position: sticky;
		z-index: 10;
	}

	.desktopNavbar {
		display: none;
	}
	.mobileNavbar {
		display: flex;
	}

	@include lg {
		display: grid;
		grid-template-columns: 4rem 1fr;

		.desktopNavbar {
			display: flex;
		}
		.mobileNavbar {
			display: none;
		}
	}
}
