// pallette

$background: #121212;
$footer: #222222;
$navbar: #404040;
$hover: #404040;
$textPrimary: #ffffff;
$textSecondary: #b3b3b3;

$accent: #23d6f5;
$bg: #14191f;

$gradientDark: #16151a;
$gradientMedium: #494343;
$gradientLight: #f19d45;

// breakpoints

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// mixins

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}
