.languageSwitcher {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	font-size: 1rem;

	.switcher {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;

		button {
			border: none;
			font-size: 1rem;
			cursor: pointer;
			padding: 0.25rem;

			// &.activeLang {
			// }
		}
	}
}
