.mountainsCont {
	position: absolute;
	width: 100%;
	bottom: 100%;

	display: flex;
	justify-content: baseline;
	overflow: hidden;

	.mountainsBtn {
		position: absolute;
		bottom: 0;
		right: 1rem;
		color: rgba($color: #fff, $alpha: 0.2);
	}
}
