.accordion {
  display: flex;
  flex-direction: column;

  .header {
    cursor: pointer;
    border: 1px solid dimgray;

    &:hover {
      background-color: rgba(128, 128, 128, 0.25);
    }
  }

  .body {
    overflow: hidden;

    &.hidden {
      padding: 0;
      height: 0;
    }
  }
}