// old colors

$background: #121212;
$footer: #222222;
$navbar: #404040;
$hover: #404040;
$textPrimary: #ffffff;
$textSecondary: #b3b3b3;

$accent: #23d6f5;
$bg: #14191f;

$gradientDark: #16151a;
$gradientMedium: #494343;
$gradientLight: #f19d45;

$custom-darkGray: #2b2b2b;

// dark colors

$dark-1: #0f0f0f;
$dark-2: #272727;
$dark-3: #3f3f3f;

// teals

$teal-1: #659990;

// pinks

$pink-1: #c25555;
$pink-2: #b95e7b;

// retro perfect

$retrop-1: #000000;
$retrop-2: #2a161c;
$retrop-3: #7d2819;
$retrop-4: #c67839;
$retrop-5: #fde194;
$retrop-6: #528363;

// rosemoss-8

$rosemoss-1: #0a0d11;
$rosemoss-2: #552804;
$rosemoss-3: #ab3b1e;
$rosemoss-4: #b1743d;
$rosemoss-5: #c8ac93;
$rosemoss-6: #646c5e;
$rosemoss-7: #584a17;
$rosemoss-8: #2d291c;

// antiquity-16

$antiquity-1: #202020;
$antiquity-2: #2d211e;
$antiquity-3: #452923;
$antiquity-4: #6d3d29;
$antiquity-5: #b16b4a;
$antiquity-6: #e89f6e;
$antiquity-7: #e8be82;
$antiquity-8: #5d7557;
$antiquity-9: #8e9257;
$antiquity-10: #707b88;
$antiquity-11: #8aa7ac;
$antiquity-12: #e55d4d;
$antiquity-13: #f1866c;
$antiquity-14: #d26730;
$antiquity-15: #de9a28;
$antiquity-16: #e8d8a5;