.plusMinus {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1rem;
    display: flex;
    align-items: center;

    &.increaseBtn,
    &.decreaseBtn {
      color: whitesmoke;
      border-radius: 2px;
      height: 24px;
      width: 24px;
    }

    &.increaseBtn {
      background-color: green;
    }

    &.decreaseBtn {
      background-color: red;
    }
  }

  &.disabled {
    color: gray;

    button {
      background-color: dimgray;
      cursor: inherit;
    }
  }
}