@import "../../styles/breakpoints.scss";

// Canvas

#canvasMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em;

	@include md {
		flex-direction: row-reverse;
	}
}

#canvasContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 600px;
}

// Controls

.controlsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1em 2em;
	max-width: 400px;
	width: 100%;

	&>* {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.slidersContainer {
		flex-direction: column;
		gap: 1rem;
	}

	.actionsContainer {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 1rem;
	}
}