.navbarCont {
	height: 100vh;
	position: sticky;
	top: 0;
	padding: 1rem 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;

	.routes,
	.features {
		display: flex;
		flex-direction: column;
	}

	.routeTitle {
		display: flex;
		align-items: center;
		padding: 1rem;

		font-size: 1.25rem;
	}
}

@mixin slidingContentCommons {
	padding: 1rem;
	margin: 1rem;
}
